<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
        <%= image_tag 'store/toystory.jpg' %>
        <%= image_tag 'store/walle.jpg' %>
        <%= image_tag 'store/nemo.jpg' %>
        <%= image_tag 'store/up.jpg' %>
    </div>
</div>

<div class="row">
  <div class="column grid_4 column_left">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_4 ">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_4 column_right">
    <div class="blurb">
    </div>
  </div>
</div>

<div class="row">
  <div class="column grid_6 column_left">
    <div class="blurb">
    </div>
  </div>
  <div class="column grid_6 column_right">
    <div class="blurb">
    </div>  
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider({
      effect:'random',
      animSpeed:1000,
      pauseTime:4000,
      pauseOnHover:true
      });
  });
</script>

<% content_for :head do %>
  <%= javascript_include_tag 'jquery.nivo.slider.pack' %>
  <%= stylesheet_link_tag 'nivo-slider', :media => 'screen' %>
<% end %>
