<% if current_user %>
  <li><%= link_to t(:account), account_path %></li>
  <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  <li id="logout" data-hook><%= link_to t(:logout), destroy_user_session_path %></li>
<% else %>
  <li id="login" data-hook><%= link_to t(:login), login_path %></li>
  <li id="signup" data-hook><%= link_to t(:signup), signup_path %></li>
<% end %>